*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;

}
body{
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    
}
.img {
   display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img img {
   flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    width:35rem;
    height: auto;
}
.form {
    flex:1;
    display: flex;
    flex-direction: row;
    background-color:#417FA6;
    
}
.form-row{
    margin-top: 5rem;
}
h3{
    color: black;
    margin:0 20px;
    margin-bottom: 1.9rem;
}
h2{
   margin-bottom: 1.1rem;
}

.panel{
    margin: auto;

    padding:1.8rem 1.2rem;
    background-color: rgb(121, 179, 216);
    box-shadow: 4px 10px 8px rgb(41, 70, 88);

}
.headline {
    text-align: left;
    margin-right: 12rem;
}
.outerform{
    display: flex;
}
.first-container, .second-container{
    flex:1;
}

input, label{
    display: block;
}

label {
    font-size: 13px;
}

input {
    border-radius: 4px;
    border:1px solid rgb(139, 136, 136);
    padding:2px;
    width:60%;
    margin-bottom:0.5rem;
}

button {
    padding: 12px 32px;
    margin: 1.6rem 1.4rem;
    border-radius: 5px;
    background-color: #19093a;
    color: white;
    border: none;
    cursor: pointer;
}
h5{
    margin-left: 1.5rem;
    font-weight: normal;
}
mark.login{
    color: #19093a;
    background:none;
}
/*setting img in a div and resize it dynamically*/

/*add odin above the background img*/