*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;

}
body{
   overflow: hidden;
    font-family: "Roboto", sans-serif;
    
}
.img {
   display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img img {
   flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    width:35rem;
    height: auto;
}

.form {
    flex:1;
    display: flex;
    flex-direction: row;
    background-color:#b1d7ee;
    
}
.form-row{
    margin-top: 5rem;
}
h3{
    color: black;
    margin:0 20px;
    margin-bottom: 1.9rem;
}
h2{
   margin-bottom: 1.1rem;
}

.panel{
    margin: auto;

    padding:1.8rem 1.2rem;
    background-color: rgb(121, 179, 216);
    box-shadow: 2px 8px 7px rgb(41, 70, 88);

}
.headline {
    text-align: left;
    margin-right: 12rem;
}
.outerform{
    display: flex;
}
.first-container, .second-container{
    flex:1;
}

input, label{
    display: block;
}

label {
    font-size: 13px;
}

input {
    border-radius: 5px;
    border:1px solid rgb(139, 136, 136);
    padding:8px;
    width:60%;
    margin-bottom:0.5rem;
}

button {
    padding: 12px 32px;
    margin: 1.6rem 1.4rem;
    border-radius: 5px;
    background-color: #3c1b7c;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 2px 3px 3px #1d0942;


}
button:hover {
  transform: scale(1.1) perspective(1.1px)

}
h5{
    margin-left: 1.5rem;
    font-weight: normal ;
}
mark.login{
    color: #19093a;
    cursor: pointer;
    background:none;
}
mark.figma{
    color: white;
    background: none;
    cursor: pointer;
}
span a{
    text-decoration: none;

}
span a:hover{
    text-decoration: underline white;  
}
.login:hover{
    text-decoration: underline;
}
/*setting img in a div and resize it dynamically*/

/*add odin above the background img*/
.odin-bg{
    display: flex;
    position: absolute;
    text-align: center; 
    justify-content: center;
    margin: 4% 0;
    background-color: rgba(55, 53, 56, 0.27);
    width: 35rem;
    height: 20%;
}
.credits{
    display: flex;
    position: absolute;
    text-align: center;
   margin: 37.1rem 9rem;
}
.credits span{
    font-size: 13px;
    color: white;
    align-self:flex-start;

}
.logo img{
    position: absolute;
    margin:10px;
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
}
h1{
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;

    font-size: 4rem;
    margin:1rem;
    color:whitesmoke;
}

input[type="text"]:focus, input[type="password"]:focus,
input[type="email"]:focus{
    border:1px solid blue;
    outline: none;

    box-shadow: 2px 3px rgb(89, 146, 182);
}
/* validation */    

input[type="email"]:invalid, input[type="password"]:invalid{
    border: 1px solid red;
}
input[type="email"]:valid, input[type="password"]:valid{
    border:1px solid green;
}
/*do password valdiation*/
