*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;

}
body{
    overflow: hidden;
    
}
.img {
   display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img img {
   flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    width:35rem;
    height: auto;
}
.form {
    flex:1;
    display: flex;
    flex-direction: row;
    border:1px solid black;
    background-color:#625d72;
}
.form-row{
    margin: auto;
}
h3{
    color: black;
    margin:0 24px;
    margin-bottom: 3rem;
}
.panel{
    padding:2rem;
    background-color: antiquewhite;
   
}

.outerform{
    display: flex;
}
/*setting img in a div and resize it dynamically*/